In [1]:
import numpy as np
import pandas as pd

In [2]:
#Creating a Series by passing a list of values, letting pandas create a default integer index:

s = pd.Series([1,2,3,np.nan,5])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
dtype: float64

In [12]:
#Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:

dates = pd.date_range('20190725', periods = 6)
dates

DatetimeIndex(['2019-07-25', '2019-07-26', '2019-07-27', '2019-07-28',
               '2019-07-29', '2019-07-30'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df = pd.DataFrame(np.random.rand(6,4), index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2019-07-25  0.670735  0.064103  0.432055  0.003736
2019-07-26  0.765508  0.501261  0.563455  0.854342
2019-07-27  0.761796  0.739723  0.438318  0.781460
2019-07-28  0.596186  0.181222  0.655644  0.219314
2019-07-29  0.008922  0.425137  0.204573  0.707595
2019-07-30  0.856242  0.282806  0.131241  0.491099

In [20]:
df2 = pd.DataFrame({'A': 1.,
    'B': pd.Timestamp('20190712'),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    'D': np.array([3] * 4, dtype='int32'),
    'E': pd.Categorical(["test", "train", "test", "train"]),
    'F': 'foo'})

df2

     A          B    C  D      E    F
0  1.0 2019-07-12  1.0  3   test  foo
1  1.0 2019-07-12  1.0  3  train  foo
2  1.0 2019-07-12  1.0  3   test  foo
3  1.0 2019-07-12  1.0  3  train  foo

In [21]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object