In [2]:
import numpy as np
import pandas as pd

In [6]:
dataset = pd.read_csv('./datasets/1.Data.csv')
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [12]:
X = dataset.iloc[:,:-1].values
y = dataset.iloc[:-3].values

In [30]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values="NaN", strategy="mean")

ValueError: Cannot use mean strategy with non-numeric data. Received datatype :O.