In [2]:
import numpy as np
import pandas as pd

In [3]:
#Creating a Series by passing a list of values, letting pandas create a default integer index:

s = pd.Series([1,2,3,np.nan,5])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
dtype: float64

In [4]:
#Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:

dates = pd.date_range('20190725', periods = 6)
dates

DatetimeIndex(['2019-07-25', '2019-07-26', '2019-07-27', '2019-07-28',
               '2019-07-29', '2019-07-30'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.rand(6,4), index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2019-07-25  0.978023  0.573456  0.655343  0.614909
2019-07-26  0.573966  0.848836  0.321008  0.383920
2019-07-27  0.113255  0.628546  0.062874  0.075590
2019-07-28  0.775889  0.559010  0.298125  0.807056
2019-07-29  0.928852  0.871477  0.226150  0.813825
2019-07-30  0.503828  0.617421  0.892534  0.284122

In [6]:
df2 = pd.DataFrame({'A': 1.,
    'B': pd.Timestamp('20190712'),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    'D': np.array([3] * 4, dtype='int32'),
    'E': pd.Categorical(["test", "train", "test", "train"]),
    'F': 'foo'})

df2

     A          B    C  D      E    F
0  1.0 2019-07-12  1.0  3   test  foo
1  1.0 2019-07-12  1.0  3  train  foo
2  1.0 2019-07-12  1.0  3   test  foo
3  1.0 2019-07-12  1.0  3  train  foo

In [7]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [8]:
df.head()

                   A         B         C         D
2019-07-25  0.978023  0.573456  0.655343  0.614909
2019-07-26  0.573966  0.848836  0.321008  0.383920
2019-07-27  0.113255  0.628546  0.062874  0.075590
2019-07-28  0.775889  0.559010  0.298125  0.807056
2019-07-29  0.928852  0.871477  0.226150  0.813825

In [9]:
df.tail(3)

                   A         B         C         D
2019-07-28  0.775889  0.559010  0.298125  0.807056
2019-07-29  0.928852  0.871477  0.226150  0.813825
2019-07-30  0.503828  0.617421  0.892534  0.284122

In [13]:
#Display the index, columns:

print(df.index)
print(df.columns)

DatetimeIndex(['2019-07-25', '2019-07-26', '2019-07-27', '2019-07-28',
               '2019-07-29', '2019-07-30'],
              dtype='datetime64[ns]', freq='D')
Index(['A', 'B', 'C', 'D'], dtype='object')